<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div *ngIf="city">
                        <h2><span>City</span> {{city.id}}</h2>
                        <hr>
                        <dl class="row-md jh-entity-details">
                        <dt><span>Stateid</span></dt>
                            <dd>
                                <span>{{city.stateid}}</span>
                            </dd>
                        <dt><span>Cityname</span></dt>
                            <dd>
                                <span>{{city.cityname}}</span>
                            </dd>
                        </dl>
                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                        </button>

                        <button type="button"
                                [routerLink]="['/city', city.id, 'edit']"
                                class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
