<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h2 id="page-heading">
                <span >Cities</span>
                <button id="create-entity" class="btn btn-primary float-right create-city" [routerLink]="['/city/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span  >
            Create new City
            </span>
                </button>
            </h2>
            <br/>
            <div class="alert alert-warning" *ngIf="cities?.length === 0">
                <span>No Cities found</span>
            </div>
            <div class="table-responsive" *ngIf="cities?.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                       <th><span>ID</span></th>
                       <th><span>Stateid</span></th>
                       <th><span>Cityname</span></th>
                       <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let city of cities ;trackBy: trackId">
                         <td><a [routerLink]="['/city', city.id, 'view' ]">{{city.id}}</a></td>
                         <td>{{ city.stateid }}</td>
                         <td>{{ city.cityname }}</td>
                         
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/city', city.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/city', city.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', 'city', { outlets: { popup: city.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
