<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="heading" >Create or edit a State</h2>
            <div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_statename">Statename</label>
                    <input type="text" class="form-control" name="statename" id="field_statename"
                           formControlName="statename"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isleading">Isleading</label>
                    <input type="text" class="form-control" name="isleading" id="field_isleading"
                           formControlName="isleading"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span >Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span >Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
