<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h2 id="page-heading">
                <span >Varients</span>
                <button id="create-entity" class="btn btn-primary float-right create-varient" [routerLink]="['/varient/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span  >
            Create new Varient
            </span>
                </button>
            </h2>
            <br/>
            <div class="alert alert-warning" *ngIf="varients?.length === 0">
                <span>No Varients found</span>
            </div>
            <div class="table-responsive" *ngIf="varients?.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                       <th><span>ID</span></th>
                       <th><span>Brandid</span></th>
                       <th><span>Modelid</span></th>
                       <th><span>Carname</span></th>
                       <th><span>Carimg</span></th>
                       <th><span>Fueltype</span></th>
                       <th><span>Transmission</span></th>
                       <th><span>Price</span></th>
                       <th><span>Enginecapacity</span></th>
                       <th><span>Enginetype</span></th>
                       <th><span>Colorurl</span></th>
                       <th><span>Colorname</span></th>
                       <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let varient of varients ;trackBy: trackId">
                         <td><a [routerLink]="['/varient', varient.id, 'view' ]">{{varient.id}}</a></td>
                         <td>{{ varient.brandid }}</td>
                         <td>{{ varient.modelid }}</td>
                         <td>{{ varient.carname }}</td>
                         <td>{{ varient.carimg }}</td>
                         <td>{{ varient.fueltype }}</td>
                         <td>{{ varient.transmission }}</td>
                         <td>{{ varient.price }}</td>
                         <td>{{ varient.enginecapacity }}</td>
                         <td>{{ varient.enginetype }}</td>
                         <td>{{ varient.colorurl }}</td>
                         <td>{{ varient.colorname }}</td>
                         
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/varient', varient.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/varient', varient.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', 'varient', { outlets: { popup: varient.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
