<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="heading" >Create or edit a Varient</h2>
            <div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly />
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label" for="field_brandid">Brandid</label>
                    <input type="text" class="form-control" name="brandid" id="field_brandid"
                           formControlName="brandid"/>
                </div> -->
                <div class="from-group">
                    <select class="form-control" formControlName='brandid'>
                        <option selected disabled> Choose a brand</option>
                        <option *ngFor="let brand of brands ;trackBy:trackId" [value]="brand.id">
                            <td class="dropdown-item">{{ brand.brandname }}</td>
                        </option>
                    </select>
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label" for="field_modelid">Modelid</label>
                    <input type="text" class="form-control" name="modelid" id="field_modelid"
                           formControlName="modelid"/>
                </div> -->
                <div class="from-group">
                    <select class="form-control" formControlName='modelid'>
                        <option selected disabled> Choose a Model</option>
                        <option *ngFor="let carmodel of carmodels ;trackBy:trackId" [value]="carmodel.id">
                            <td class="dropdown-item">{{ carmodel.modelname }}</td>
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_carname">Carname</label>
                    <input type="text" class="form-control" name="carname" id="field_carname"
                           formControlName="carname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_carimg">Carimg</label>
                    <input type="text" class="form-control" name="carimg" id="field_carimg"
                           formControlName="carimg"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fueltype">Fueltype</label>
                    <input type="text" class="form-control" name="fueltype" id="field_fueltype"
                           formControlName="fueltype"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transmission">Transmission</label>
                    <input type="text" class="form-control" name="transmission" id="field_transmission"
                           formControlName="transmission"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="text" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_enginecapacity">Enginecapacity</label>
                    <input type="text" class="form-control" name="enginecapacity" id="field_enginecapacity"
                           formControlName="enginecapacity"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_enginetype">Enginetype</label>
                    <input type="text" class="form-control" name="enginetype" id="field_enginetype"
                           formControlName="enginetype"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_colorurl">Colorurl</label>
                    <input type="text" class="form-control" name="colorurl" id="field_colorurl"
                           formControlName="colorurl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_colorname">Colorname</label>
                    <input type="text" class="form-control" name="colorname" id="field_colorname"
                           formControlName="colorname"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span >Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span >Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
