<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div *ngIf="varient">
                        <h2><span>Varient</span> {{varient.id}}</h2>
                        <hr>
                        <dl class="row-md jh-entity-details">
                        <dt><span>Brandid</span></dt>
                            <dd>
                                <span>{{varient.brandid}}</span>
                            </dd>
                        <dt><span>Modelid</span></dt>
                            <dd>
                                <span>{{varient.modelid}}</span>
                            </dd>
                        <dt><span>Carname</span></dt>
                            <dd>
                                <span>{{varient.carname}}</span>
                            </dd>
                        <dt><span>Carimg</span></dt>
                            <dd>
                                <span>{{varient.carimg}}</span>
                            </dd>
                        <dt><span>Fueltype</span></dt>
                            <dd>
                                <span>{{varient.fueltype}}</span>
                            </dd>
                        <dt><span>Transmission</span></dt>
                            <dd>
                                <span>{{varient.transmission}}</span>
                            </dd>
                        <dt><span>Price</span></dt>
                            <dd>
                                <span>{{varient.price}}</span>
                            </dd>
                        <dt><span>Enginecapacity</span></dt>
                            <dd>
                                <span>{{varient.enginecapacity}}</span>
                            </dd>
                        <dt><span>Enginetype</span></dt>
                            <dd>
                                <span>{{varient.enginetype}}</span>
                            </dd>
                        <dt><span>Colorurl</span></dt>
                            <dd>
                                <span>{{varient.colorurl}}</span>
                            </dd>
                        <dt><span>Colorname</span></dt>
                            <dd>
                                <span>{{varient.colorname}}</span>
                            </dd>
                        </dl>
                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                        </button>

                        <button type="button"
                                [routerLink]="['/varient', varient.id, 'edit']"
                                class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
