<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div *ngIf="brand">
                        <h2><span>Brand</span> {{brand.id}}</h2>
                        <hr>
                        <dl class="row-md jh-entity-details">
                        <dt><span>Brandllogo</span></dt>
                            <dd>
                                <span>{{brand.brandllogo}}</span>
                            </dd>
                        <dt><span>Brandname</span></dt>
                            <dd>
                                <span>{{brand.brandname}}</span>
                            </dd>
                        </dl>
                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                        </button>

                        <button type="button"
                                [routerLink]="['/brand', brand.id, 'edit']"
                                class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
