<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div *ngIf="carmodel">
                        <h2><span>Carmodel</span> {{carmodel.id}}</h2>
                        <hr>
                        <dl class="row-md jh-entity-details">
                        <dt><span>Brandid</span></dt>
                            <dd>
                                <span>{{carmodel.brandid}}</span>
                            </dd>
                        <dt><span>Modelimg</span></dt>
                            <dd>
                                <span>{{carmodel.modelimg}}</span>
                            </dd>
                        <dt><span>Modelname</span></dt>
                            <dd>
                                <span>{{carmodel.modelname}}</span>
                            </dd>
                        <dt><span>Varient</span></dt>
                            <dd>
                                <span>{{carmodel.varient}}</span>
                            </dd>
                        </dl>
                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                        </button>

                        <button type="button"
                                [routerLink]="['/carmodel', carmodel.id, 'edit']"
                                class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
