<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h2 id="page-heading">
                <span >Carmodels</span>
                <button id="create-entity" class="btn btn-primary float-right create-carmodel" [routerLink]="['/carmodel/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span  >
            Create new Carmodel
            </span>
                </button>
            </h2>
            <br/>
            <div class="alert alert-warning" *ngIf="carmodels?.length === 0">
                <span>No Carmodels found</span>
            </div>
            <div class="table-responsive" *ngIf="carmodels?.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                       <th><span>ID</span></th>
                       <th><span>Brandid</span></th>
                       <th><span>Modelimg</span></th>
                       <th><span>Modelname</span></th>
                       <th><span>Varient</span></th>
                       <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let carmodel of carmodels ;trackBy: trackId">
                         <td><a [routerLink]="['/carmodel', carmodel.id, 'view' ]">{{carmodel.id}}</a></td>
                         <td>{{ carmodel.brandid }}</td>
                         <td>{{ carmodel.modelimg }}</td>
                         <td>{{ carmodel.modelname }}</td>
                         <td>{{ carmodel.varient }}</td>
                         
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/carmodel', carmodel.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/carmodel', carmodel.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', 'carmodel', { outlets: { popup: carmodel.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
