<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="heading" >Create or edit a Carmodel</h2>
            <div>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly />
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label" for="field_brandid">Brandid</label>
                    <input type="text" class="form-control" name="brandid" id="field_brandid"
                           formControlName="brandid"/>
                </div> -->
                <div class="from-group">
                    <select class="form-control" formControlName='brandid'>
                        <option selected disabled> Choose a brand</option>
                        <option *ngFor="let brand of brands ;trackBy:trackId" [value]="brand.id">
                            <td class="dropdown-item">{{ brand.brandname }}</td>
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modelimg">Modelimg</label>
                    <input type="text" class="form-control" name="modelimg" id="field_modelimg"
                           formControlName="modelimg"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modelname">Modelname</label>
                    <input type="text" class="form-control" name="modelname" id="field_modelname"
                           formControlName="modelname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_varient">Varient</label>
                    <input type="text" class="form-control" name="varient" id="field_varient"
                           formControlName="varient"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span >Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span >Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
